<html>
  <head>
    <title>Aware</title>
    <link rel="stylesheet" href="static/styles/index.css">
    <style>
      h1, h2, a {
        color: #2fb5e4;
      }
    </style>
  </head>
  <body>
    <div>
      <img src="static/images/aware.png" alt="Locus Icon" class="icon">
      <h1>Aware</h1>
    </div>

    <h2>Tutorial</h2>

    <video height="70%" controls>
      <source src="static/videos/aware_tutorial.mp4" type="video/mp4">
    </video>
    
    <h2>Install</h2>
    Click <a href="download-aware">here</a> to download the apk file.

    <h2>Privacy Policy</h2>
    This app is part of a research study at the University of Washington in
    Seattle, WA, USA. Only registered study participants will be able to use the
    app. Data will be collected from registered users only and stored on a
    secure server. All registered users are provided with a consent form that
    includes complete details about the data collected, how it is stored, and
    how it will be used.
  </body>
</html>
