* {
  font-family: "CMU Serif";
  margin: 10px;
}

h1 {
  color: #018575;
  font-size: 80px;
  font-weight: normal;
  line-height: 80px;
  margin: 0;
}

h2 {
  color: #018575;
  font-size: 30px;
  font-weight: 400;
  line-height: 34px;
  margin: 24px 0 24px;
}

div.center {
  text-align: center;
}